body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 200px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
}

.buttonSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.profileImage {
  width: 43px;
  height: 40px;
}

.favoritesImage {
  width: 43px;
  height: 40px;
}

.profileName {
  font-size: 16px;
  color: #4d4c4c;
  font-weight: bold;
}

.topBar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.orangeLine {
  min-height: 5px;
  background-color: #f67b21;
  width: 100%;
}

.topBar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.searchBar {
  margin: 0 100px;
  width: 400px;
  padding: 8px;
  font-size: 16px;
  border-radius: 12px;
  border: solid 1px black;
}

.favoritesForm {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin: 50px auto 70px auto;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
  font-weight: bold;
}

.favoritesForm img {
  width: 30px;
  vertical-align: middle;
}

.order {
  padding: 8px;
  font-size: 16px;
  border-radius: 12px;
  border: solid 1px black;
}

.order:hover {
  outline: solid 2px black;
  cursor: pointer;
}

.contentContainer {
  display: flex;
  width: 920px;
  background-color: #ffefe6;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  padding: 16px 16px 0px 16px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);
  color: #333;
  margin: auto auto 80px auto;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentContainer img {
  width: 70%;
  height: 95%;
  border-radius: 8px;
  margin-bottom: 12px;
  border: 2px solid #a8a8a8;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.productName {
  font-weight: bold;
  color: #333;
  margin: 4px 0;
  font-size: 1.8em;
}

.likeButton {
  background-image: url("../../img/emptyHeart.png");
  background-size: cover; /* Ajusta la imagen para cubrir todo el botón */
  background-position: center; /* Centra la imagen en el botón */
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.likeButton.liked {
  background-image: url("../../img/fullHeart.png");
}

.bidButton {
  font-size: 1em;
  background-color: #ff813f;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  /*para que se vea un dedo*/
  margin: 8px 0;
  width: 100%;
}

.favoritesContainer .contentContainer {
  border: groove 4px #f67b21;
}

.bidButton:hover {
  background-color: #f67b21;
}

.description {
  background-color: #fff;
  padding: 8px;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  border-radius: 10px;
  margin-top: 8px;
}

.description p {
  margin-top: 8px;
  margin-bottom: 2px;
  font-size: 14px;
}

.bidTime {
  font-size: 0.9em;
  color: #666;
  margin-top: 8px;
}