body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif
}

.logo {
    width: 200px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
}

.topBarButtons {
    justify-content: end;
    width: 100px;
    margin: 0px;
}

.topBar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.selected {
    background-color: white;
    border-radius: 10px;
    padding: 5px 12px;
    font-weight: bold;
}

.searchBar {
    margin: 0 200px;
    padding: 8px;
    flex: 1;
    font-size: 16px;
    border-radius: 12px;
    border: solid 1px black;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: #F67B21;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

li {
    margin: 5px 10px;
    color: black;
    font-weight: bold;
}

.comunitySelection {
    background-color: #F67B21;
    border-radius: 4px;
    padding: 0px 4px;
}

/* Tarjeta de "Favoritos de la comunidad" */
.contentContainer{
    display: flex;
    width: 320px;
    background-color: #FFEFE6;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3); /* Sombra más visible */
    color: #333;
    margin: 50px auto;
    flex-direction: column;
    align-items: baseline;
}

.comunityFavorites {
    background-color: #FF813F;
    color: #FFF;
    padding: 4px 8px;
    border: 1px solid #818181;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 8px;
}

.contentContainer img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
    border: 2px solid #0166ca;
}

.price {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
}

.productName {
    font-weight: bold;
    color: #333;
    margin: 4px 0;
}

.bidButton {
    font-size: 1em;
    background-color: #FF813F;
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer; /*para que se vea un dedo*/
    margin: 8px 0;
    width: 100%;
}

.bidButton:hover {
    background-color: #e96c1e;
}

.description {
    background-color: #FFF;
    padding: 8px;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    border-radius: 10px;
    margin-top: 8px;
}

.description p {
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 14px;
}

.bidTime {
    font-size: 0.9em;
    color: #666;
    margin-top: 8px;
}
