/* El (html, body) se aplican tanto al html como al body para asegurar que ambos elementos ocupen toda
la altura de la ventana y no tengan márgenes ni padding que puedan causar desplazamiento
o espacio adicional*/

html, body {
    margin: 0; /* Elimina cualquier margen predeterminado del navegador */
    padding: 0; /* Elimina cualquier padding predeterminado del navegador */
    box-sizing: border-box; /* Hace que el ancho y alto de los elementos incluyan el padding y el borde */
    font-family: Arial, sans-serif;
    height: 100%; /* Hace que el body ocupe el 100% del alto de la ventana */
    overflow: hidden; /* Evita que la página se pueda desplazar */
}

/* El (body) se aplica solo al body para establecerlo como un contenedor flex y organizar su contenido en una columna,
asegurando que ocupe toda la altura de la ventana*/

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
}

.topBar {
    display: flex;
    padding: 10px 20px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
}

.orangeLine {
    height: 5px;
    background-color: #F67B21;
    width: 100%;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 50px 20px 40px 20px;
    border-radius: 13px;
    border: 1px solid #4e4e4e;
    background-color: #FFE7D9;
    position: relative;
    margin: 0;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

.registerForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a3a3a3;
    border-radius: 15px;
    font-size: 14px;
}

.registerButton {
    padding: 10px;
    border-width: 1px;
    border-radius: 15px;
    background-color: #FF6600;
    color: rgb(36, 36, 36);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.registerButton:hover {
    background-color: #e65a00;
}