$font: Arial, Helvetica, sans-serif;
$orange: #f67b21;
$dark-grey: #4d4c4c;
$medium-grey: #a3a3a3;
$light-orange: #FF6600;
$dark-orange: #e65a00;
$black: #333;
$light-grey: #4b4b4b;
$light-pink: #FFE7D9;
$border-grey: #4e4e4e;
$gray : #b8b8b8;
$body: (margin: 0px, font-family: (Arial, Helvetica, sans-serif), overflow: hidden);
